[jupyter notebook](pandas-dataframe-apply.ipynb)

# Add a new column to dataframe by pandas.DataFrame.apply

In [1]:
import pandas as pd

dfSource = pd.DataFrame( { 'A': [ 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b'],
                           'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                           'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( dfSource )

   A  B  C
0  a  1  9
1  a  4  7
2  b  2  3
3  a  5  5
4  b  5  1
5  b  6  4
6  a  3  7
7  b  1  2

In [2]:
def func( row ):
    if row[ 'B' ] > 4:
        return row[ 'B' ] - row[ 'C' ]
    else:
        return row[ 'B' ] + row[ 'C' ]

df = dfSource.copy()
df[ 'D' ] = df.apply( func, axis = 1 )
display( df )

   A  B  C   D
0  a  1  9  10
1  a  4  7  11
2  b  2  3   5
3  a  5  5   0
4  b  5  1   4
5  b  6  4   2
6  a  3  7  10
7  b  1  2   3

In [3]:
# function with extra parameter

def func( row, x ):
    if row[ 'B' ] > 4:
        return row[ 'B' ] - row[ 'C' ] * x
    else:
        return row[ 'B' ] + row[ 'C' ]

    return row[ 'B' ] + row[ 'C' ] * x

df = dfSource.copy()

x = 2
df[ 'D' ] = df.apply( lambda row: func( row, x ), axis = 1 )
display( df )

   A  B  C   D
0  a  1  9  10
1  a  4  7  11
2  b  2  3   5
3  a  5  5  -5
4  b  5  1   3
5  b  6  4  -2
6  a  3  7  10
7  b  1  2   3