[jupyter notebook](pandas-dataframe-groupby-apply-new-column.ipynb)

# Add new column to dataframe groups by pandas.core.groupby.GroupBy.apply

In [1]:
import pandas as pd

df = pd.DataFrame( { 'A': [ 'a', 'a', 'b', 'a', 'b', 'b', 'a', 'b'],
                     'B': [  1 ,  4 ,  2 ,  5 ,  5 ,  6 ,  3 ,  1 ],
                     'C': [  9 ,  7 ,  3 ,  5 ,  1 ,  4 ,  7 ,  2 ] } )

display( df )

   A  B  C
0  a  1  9
1  a  4  7
2  b  2  3
3  a  5  5
4  b  5  1
5  b  6  4
6  a  3  7
7  b  1  2

In [2]:
def func( group ):
    group[ 'C_CumSum' ] = group[ 'C' ].cumsum()
    return group

display( df.groupby( by = 'A' ).apply( func ).sort_values( by = 'A').reset_index( drop = True ) )

   A  B  C  C_CumSum
0  a  1  9         9
1  a  4  7        16
2  a  5  5        21
3  a  3  7        28
4  b  2  3         3
5  b  5  1         4
6  b  6  4         8
7  b  1  2        10